/*Allgemeine Parameter*/

/*Schriftarten*/

.fehler
    {
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 10pt;
    color: red;
    vertical-align: middle;
    }

.xnormal_head
    {
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 11pt;
    color: #ffffff;
    vertical-align: middle;
    }

.xnormal
    {
    font-family: Arial, Verdana, sans-serif;
    font-weight: normal;
    font-size: 10pt;
    color: #000000;
    vertical-align: middle;
    }

.xnormal_sort
    {
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 10pt;
    color: #000000;
    vertical-align: middle;
    }

.xnormal_sub
    {
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 11pt;
    color: #000000;
    vertical-align: middle;
    }

.xnormal_hl
    {
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 10pt;
    color: #B20E0E;
    vertical-align: middle;
    }

.xnormal_small
    {
    font-family: Arial, Verdana, sans-serif;
    font-weight: normal;
    font-size: 8pt;
    color: #ffffff;
    vertical-align: middle;
    }

body
    {
    margin: 5px 0;
    padding: 0;
    font: 12px Arial, Sans-Serif;
    color: #2c2c2c;
    background-color: #fff;
    line-height: 1.4em;
    background: #fff;
    }

hr.links
    {
    border: 0;
    height: 1px;
    color: #eee;
    background-color: #eee;
    }

hr.rechts
    {
    border: 0;
    height: 1px;
    color: #66a59a;
    background-color: #66a59a;
    }

h1
    {
    padding: 0;
    margin: 0;
    color: #66a59a;
    background: inherit;
    font: bold 1.8em Arial, Sans-Serif;
    letter-spacing: -1px;
    }

h1 a
    {
    color: #FFF;
    background: inherit;
    }

h2
    {
    background-color: inherit;
    color: #FFFFFF;
    font-size: 100%;
    font-weight: bold;
    margin: 10px 0 10px 0;
    padding: 0;
    }

h2 a
    {
    color: #66a59a;
    }

h2 a:hover
    {
    color: #FFFFFF;
    text-decoration: none;
    }

a
    {
    color: #004472;
    background: inherit;
    text-decoration: none;
    }

a:hover
    {
    color: #66a59a;
    background: inherit;
    text-decoration: none;
    }

a.navigation_klein
    {
    font-size: 8px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    text-decoration: none;
    color: #2c2c2c;
    }

a.navigation_klein:hover
    {
    font-size: 8px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    text-decoration: underline;
    color: #66a59a;
    }

a.navigation
    {
    font-size: 11px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    text-decoration: none;
    color: #66a59a;
    }

a.navigation:hover
    {
    font-size: 11px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    text-decoration: underline;
    color: #ffffff;
    }

a.navigation_weiss
    {
    font-size: 12px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    text-decoration: none;
    color: #ffffff;
    }

a.navigation_weiss:hover
    {
    font-size: 12px;
    font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
    text-decoration: underline;
    color: #ffffff;
    }

.tabellen_hintergrund
    {
    background: #FFF url( images\bg.jpg ) repeat-y center;
    color: white;
    margin: 0 auto;
    padding: 0;
    }

.box
    {

    background-color: #66a59a;
    padding: 2px;
    margin: 0px;
    color: #2c2c2c;
    font-size: 14px;
    font-family: Arial, Sans-serif;
    font-weight: bold;
    }

.text_mitte
    {
    color: #2c2c2c;
    font-size: 16px;
    font-family: Arial, Sans-serif;
    font-weight: bold;
    }

.text_mitte_inaktiv
    {
    color: #CCC;
    font-size: 14px;
    font-family: Arial, Sans-serif;
    }

.text_mitte_aktiv
    {
    color: #66a59a;
    font-size: 14px;
    font-family: Arial, Sans-serif;
    }

.text_seite
    {
    color: #66a59a;
    font-size: 24px;
    font-family: Arial, Sans-serif;
    }

.text_klein
    {
    color: #2c2c2c;
    font-size: 10px;
    font-family: Arial, Sans-serif;
    }

.text_klein_fett
    {
    color: #2c2c2c;
    font-size: 12px;
    font-family: Arial, Sans-serif;
    font-weight: bold;
    }

.text_klein_kursiv
    {
    color: #2c2c2c;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    font-family: Arial, Sans-serif;
    }

.text
    {
    color: #000000;
    font-size: 12px;
    font-family: Arial, Sans-serif;
    }

.text_fett
    {
    color: #000000;
    font-size: 12px;
    font-family: Arial, Sans-serif;
    font-weight: bold;
    }

.text_mitte_normal
    {
    color: #66a59a;
    font-size: 12px;
    font-family: Arial, Sans-serif;
    }

.text_prio
    {
    color: #000000;
    font-size: 12px;
    font-family: Arial, Sans-serif;
    font-weight: bold;
    }

.text_anzeige2
    {
    font-weight: bold;
    line-height: 100%;
    color: #2c2c2c;
    font-size: 16px;
    font-family: Arial, Sans-serif;
    }

.text_anzeige
    {
    line-height: 100%;
    color: #bbbbbb;
    font-size: 28px;
    font-family: Arial, Sans-serif;
    font-weight: normal;
    }

.text_anzeige3
    {
    line-height: 100%;
    color: black;
    font-size: 26px;
    font-family: Arial, Sans-serif;
    font-weight: normal;
    }

.text_anzeige_rot2
    {
    font-weight: bold;
    line-height: 100%;
    color: #EE775F;
    font-size: 18px;
    font-family: Arial, Sans-serif;
    }

.text_anzeige_rot
    {
    line-height: 100%;
    color: #EE775F;
    font-size: 30px;
    font-family: Arial, Sans-serif;
    font-weight: bold;
    }

.text_rot
    {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    font-weight: normal;
    color: #D42136;
    }

.text_rot_klein
    {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 10px;
    font-weight: normal;
    color: #D42136;
    }

.side_bar
    {
    text-align: left;
    margin: 0;
    padding: 0;
    color: #888;
    font-size: 11px;
    }

select.liste
    {
    font-family: Arial;
    font-size: 10px;
    font-weight: normal;
    }

input.field
    {
    border: 1px solid #ccc;
    background-color: #3C3C3C;
    color: #2c2c2c;
    }

select
    {
    margin: 0;
    border: 1px solid #66a59a;
    background: #FFF;
    color: #3D3E40;
    }

input.field:hover
    {
    border: 1px solid #eee;
    background: #ccc;
    color: #2c2c2c;
    }

input.text
    {
    margin: 0;
    border: 1px solid #2c2c2c;
    background: #FFF;
    color: #3D3E40;
    }

input.text:hover
    {
    border: 1px solid #2c2c2c;
    }

textarea.field
    {
    margin: 0;
    border: 1px solid #2c2c2c;
    background: #FFF;
    color: #3D3E40;
    }

textarea.field:hover
    {
    border: 1px solid #2c2c2c;
    }

input.searchbutton
    {
    margin: 0;
    font-size: 10px;
    font-family: Arial, Sans-serif;
    border: 1px solid #2c2c2c;
    background: #FFFFFF;
    color: #808080;
    padding: 1px;
    font-weight: bold;
    }

input.formularbutton
    {
    margin: 0;
    font-size: 12px;
    font-family: Arial, Sans-serif;
    border: 1px solid #66a59a;
    background: #ffffff;
    color: #3D3E40;
    padding: 1px;
    font-weight: bold;
    }

input.formularbutton_rot
    {
    margin: 0;
    font-size: 12px;
    font-family: Arial, Sans-serif;
    border: 1px solid #66a59a;
    background: #FFBFA0;
    color: #3D3E40;
    padding: 1px;
    font-weight: bold;
    }

input.formularbutton_gruen
    {
    margin: 0;
    font-size: 12px;
    font-family: Arial, Sans-serif;
    border: 1px solid #66a59a;
    background: #C1E2A5;
    color: #3D3E40;
    padding: 1px;
    font-weight: bold;
    }
    
.date
    {
    color: #ccc;
    background: #3D3E42;
    text-align: right;
    margin: 4px 0 5px 0;
    padding: 0.4em 0 0 0;
    border-top: 1px solid #555;
    font-size: 12px;
    font-family: Arial, Sans-serif;
    }

#info
    {
    height: 200px;
    }

#menu_container
    {
    margin: 0px 0 0px 0px;
    position: relative;
    width: 900px;
    border: 1px solid #66a59a; 
    border-width: 1px 0 1px 1px;  
    height: 20px;
    z-index: 100;
    }

#pmenu, #pmenu ul
    {
    padding: 0;
    margin: 0;
    list-style-type: none;
    }

#pmenu a, #pmenu a:visited
    {
    display: block;
    width: 85px;
    font-size: 11px;
    color: #000;
    height: 20px;
    line-height: 19px;
    text-decoration: none;
    text-indent: 5px;
    border: 1px solid #66a59a;
    border-width: 0px 0px 0px 1px;
    }

#pmenu li ul li a, #pmenu li ul li a:visited
    {
    border-width: 0 1px 1px 1px;
    }

#pmenu li a.enclose, #pmenu li a.enclose:visited
    {
    border-width: 1px;
    }

#pmenu li
    {
    float: left;
    background: #ffffff;
    }

/* For Non-IE browsers and IE7 */
#pmenu li:hover
    {
    position: relative;
    }

#pmenu li:hover>a
    {
    background: #66a59a;
    color: #000000;
    }

#pmenu li ul
    {
    display: none;
    }

#pmenu li:hover>ul
    {
    display: block;
    position: absolute;
    top: -11px;
    left: 45px;
    padding: 10px 30px 30px 30px;
    background: transparent url( transparent.gif );
    width: 80px;
    }

#pmenu>li:hover>ul
    {
    left: -30px;
    top: 16px;
    }

#pmenu table
    {
    position: absolute;
    border-collapse: collapse;
    top: 0;
    left: 0;
    z-index: 100;
    font-size: 1em;
    }

* html#pmenu li a:hover
    {
    position: relative;
    background: #66a59a;
    color: #000;
    }

#pmenu li a:active, #pmenu li a:focus
    {
    background: #66a59a;
    color: #000;
    }

#pmenu li.fly
    {
    background: #ffffff url( bilder/fly.gif ) no-repeat right center;
    }
/* #pmenu li.drop {background:#ffffff url(bilder/drop.gif) no-repeat right center;} */


/* This lot is for IE5.5 and IE6 ONLY and is necessary to make the sublevels appear */

* html#pmenu li ul
    {
    visibility: hidden;
    display: block;
    position: absolute;
    top: -11px;
    left: 45px;
    padding: 10px 30px 30px 30px;
    background: transparent url( transparent.gif );
    }

#pmenu li a:hover ul ul
    {
    visibility: hidden;
    }

#pmenu li a:hover ul
    {
    visibility: visible;
    left: -30px;
    top: 14px;
    lef\t: -31px;
    to\p: 15px;
    }

#pmenu li a:hover ul a:hover ul
    {
    visibility: visible;
    top: -11px;
    left: 45px;
    }

/* TABELLEN */

table.matrix
    {
    border-width: 1px;
    border-spacing: 0px;
    border-style: solid;
    border-color: #66a59a;
    border-collapse: separate;
    background-color: white;
    }
    
table.matrix_neu
    {
    border-width: 1px;
    border-spacing: 0px;
    border-style: solid;
    border-top: 0px;
    border-color: #66a59a;
    border-collapse: separate;
    background-color: white;
    }
    
table.matrix td
    {
    border-width: 1px;
    padding: 5px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    }

table.matrix td.alt
    {
    border-width: 1px;
    padding: 5px;
    border-color: #FFFFFF;
    background-color: #F4D194;
    border-style: solid;
    border-width: 1px;
    }

table.matrix th
    {
    font-size: 14px;
    font-family: Arial, Sans-serif;
    border-style: none;
    border-collapse: separate;
    background-color: #66a59a;
    }

table.anzeige
    {
    border-width: 1px;
    border-spacing: 2px;
    border-style: solid;
    border-color: #66a59a;
    border-collapse: separate;
    background-color: white;
    }

table.anzeige td
    {
    border-width: 1px;
    padding: 5px;
    border-color: #66a59a;
    border-style: solid;
    border-width: 1px;
    }

table.anzeige th
    {
    border-style: none;
    border-collapse: separate;
    background-color: #66a59a;
    font-size: 16px;
    font-family: Arial, Sans-serif;
    }

table.anzeige tr.alt
    {
    color: #000000;
    background-color: #F4D194;
    }

table.element
    {
    border-width: 1px;
    border-spacing: 0px;
    border-style: solid;
    border-color: black;
    border-collapse: separate;
    background-color: white;
    }

table.element_no_border
    {
    border-width: 0px;
    background-color: white;
    }
    
#Kalender
    {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    }

#Kalender td, #Kalender th
    {
    font-size: 11px;
    /*white-space:nowrap;
    text-align:center;*/
    border: 1px solid #98bf21;
    padding: 3px 4px 2px 6px;
    }

#Kalender th
    {
    font-size: 10px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
    }

#Kalender th.we
    {
    font-size: 10px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #006400;
    color: #ffffff;
    }

#Kalender th.cu
    {
    font-size: 10px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #BE4617;
    color: #ffffff;
    }

#Kalender tr.alt
    {
    color: #000000;
    background-color: #EAF2D3;
    }

#Kalender td.absent
    {
    color: #000000;
    background-color: #CDC9C4;
    }

#Kalender td.early
    {
    color: #000000;
    background-color: #F056B8;
    }

#Kalender td.late
    {
    color: #000000;
    background-color: #5FC0ED;
    }

#Kalender td.flex
    {
    color: #000000;
    background-color: #79B671;
    }

             table.is24
                {
                width: 600px;
                border-collapse: collapse;
                border: 1px solid #66a59a;
                }

            caption.is24
                {
                font: 1.8em/ 1.8em Arial, Helvetica, sans-serif;
                text-align: left;
                text-indent: 10px;
                background: url( ../bilder/bg_caption.jpg ) right top;
                height: 35px;
                color: #66a59a;
                }

            thead.is24 th.is24
                {
                background: url( ../bilder/bg_th.jpg ) no-repeat right;
                height: 27px;
                color: #2c2c2c;
                font-size: 1.2em;
                font-weight: bold;
                padding: 0px 4px;
                margin: 5px 0px 0px;
                text-align: left;
                border-right: 1px solid #d5f0eb;
                }

            tbody.is24 tr.is24
                {
                background: url( ../bilder/bg_td1.jpg ) repeat-x top;
                }

            tbody.is24 tr.is24_odd
                {
                background: #FFF8E8 url( ../bilder/bg_td2.jpg ) repeat-x;
                }

            tbody.is24 th.is24, td.is24
                {
                font-size: 12px;
                line-height: 12px;
                font-family: Arial, Helvetica, sans-serif;
                color: #514F4F;
                padding: 10px 7px;
                border-top: 1px solid #66a59a;  
                text-align: left;
                }

/*
                border-right: 1px solid #DDDDDD;
                border-left: 1px solid #DDDDDD;    
*/
                
            td.is24_r
                {
                font-size: 1.0em;
                line-height: 1.0em;
                font-family: Arial, Helvetica, sans-serif;
                color: #2c2c2c;
                padding: 10px 7px;
                border-top: 1px solid #66a59a;   
                text-align: center;
                background-color: #EE775F;                
                }

            td.is24_start
                {
                font-size: 1.4em;
                line-height: 1.4em;
                font-weight: bold; 
                font-family: Arial, Helvetica, sans-serif;
                color: #2c2c2c;
                padding: 10px 7px;
                border-top: 1px solid #66a59a;  
                text-align: center;
  
                }
                
            td.is24_g
                {
                font-size: 1.0em;
                line-height: 1.0em;
                font-family: Arial, Helvetica, sans-serif;
                color: #2c2c2c;
                padding: 10px 7px;
                border-top: 1px solid #66a59a;  
                text-align: center;
                background-color: #C1E2A5;                
                }

            td.is24_text_rot
                {
                font-size: 1.0em;
                line-height: 1.0em;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;    
                color: #D42136;
                padding: 10px 7px;
                border-top: 1px solid #66a59a;
                text-align: left;
                }
  
                
            tfoot.is24 th.ts24
                {
                background: url( ../bilder/bg_total.jpg ) repeat-x bottom;
                color: #000000;
                height: 20px;
                }

            tfoot.is24 td.ts24
                {
                background: url( ../bilder/bg_total.jpg ) repeat-x bottom;
                color: #FFFFFF;
                height: 30px;
                }
                
                            td.is24_termin
                {
                font-size: 1.4em;
                line-height: 1.4em;
                font-weight: bold; 
                font-family: Arial, Helvetica, sans-serif;
                color: #000;
                padding: 10px 7px;
                border-top: 1px solid #66a59a;  
                text-align: left;
                }
               
            td.is24_termin_rot
                {
                font-size: 1.4em;
                line-height: 1.4em;
                font-weight: bold; 
                font-family: Arial, Helvetica, sans-serif;
                color: #D42136;
                padding: 10px 7px;
                border-top: 1px solid #66a59a;  
                text-align: left;
                }


#cmdb_vertikal
{
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 10px;
    margin: 0px;
    width: 400px;
    text-align: left;
    border-collapse: collapse;
}

caption.cmdb
    {
    font: 1.8em/ 1.8em Arial, Helvetica, sans-serif; 
    text-align: left;
    text-indent: 10px;
    background: url( ../bilder/bg_caption.jpg ) right top;
    height: 35px;
    color: #66a59a;
    }
          
                
#is24_vertikal
{
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 10px;
    margin: 0px;
    width: 800px;
    text-align: left;
    border-collapse: collapse;
}

#is24_vertikal td
{
    padding: 2px 5px;
    color: #2c2c2c;
    border-top: 1px solid #e8edff;
}

.is24-first
{
    background: #d5f0eb;
    border-right: 10px solid transparent;
    border-left: 0px solid transparent;
}

 table.is24_ir
    {
    width: 800px;
    border-collapse: collapse;
    border: 0px solid #66a59a;
    }

.is24_ir
{
    border-top: 1px solid #66a59a;
    background: #FFF8E8 url( ../bilder/bg_td2.jpg ) repeat-x;
    border-right: 10px solid #d5f0eb;
    border-left: 10px solid #d5f0eb;
     padding: 10px 7px;
}

hr.is24_hr {
border: 0px;
width: 100%;
color: #66a59a;
background-color: #66a59a;
height: 1px;
}

td.is24_ir_head
    {
    background: url( ../bilder/bg_td1.jpg ) repeat-x top;
    height: 17px;
    color: #2c2c2c;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 0px 4px 0px;
    margin: 5px 0px 0px;
    text-align: left;
    border-right: 1px solid #d5f0eb;
    }

#is24_layout
{
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 10px;
    margin: 0px;
    width: 800px;
    text-align: left;
    border-collapse: collapse;
}

#is24_layout td
{
    padding: 2px 10px;

}

#header {
  float:left;
  width:100%;
  background:#ffffff url("../bilder/bg.gif") repeat-x bottom;
  font-size:93%;
  line-height:normal;
  }
#header ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
#header li {
  float:left;
  background:url("../bilder/left.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  }
#header a {
  float:left;
  display:block;
  background:url("../bilder/right.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  text-decoration:none;
  font-weight:bold;
  color:#765;
  }
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#header a {float:none;}
/* End IE5-Mac hack */
#header a:hover {
  color:#333;
  }
#header #current {
  background-image:url("../bilder/left_on.gif");
  }
#header #current a {
  background-image:url("../bilder/right_on.gif");
  color:#333;
  padding-bottom:5px;
  }

#iframe_anzeige {
text-align: justify;
width: 200px;
height: 200px;
background: #CCCCCC;

}

.abstand_iframe{
padding: 10px;
}


.scrollbereich {
overflow: auto;
width: 180px;
height: 180px;
}   
  